.head-blog {
  text-align: center !important;
  padding-top: 30px;
}
.article-list {
  padding-top: 75px;
  list-style: cjk-decimal;
}

.staticpage {
  padding-top: 75px;
  padding-bottom: 150px;
}
.blog {
  padding-bottom: 150px !important;
}
.staticpage article {
  text-align: left;
}
.time {
  text-align: center;
}
img {
  width: 100%;
}

.staticpage {
  ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }
}
