@font-face {
  font-family: "Andika";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Andika-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Andika";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Andika-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ShadowsIntoLight";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ShadowsIntoLight-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IndieFlower";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IndieFlower-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PlaypenSans";
  font-style: normal;
  font-weight: 200 400 500;
  src: url("/fonts/PlaypenSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Sofadi One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SofadiOne-Regular.ttf") format("ttf");
}

