.cat {
  padding-top: 20px;

  font-family: ShadowsIntoLight;
}
.cat h1 {
  text-align: center;
  font-weight: 400;

  font-size: 36px;

  font-family: "Sofadi One";
}

.cat h1 a:hover {
  text-decoration: none;
}
.cat a {
  color: #cdcdcd;
  text-decoration: none;
  text-align: center;
  padding-inline: 15px;
}
.header-link {
  text-align: center;

  font-size: 24px;
  letter-spacing: 1.5px;

  text-underline-offset: 7px;

  .active {
    text-decoration: underline;
  }
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
}
.cat a:hover {
  text-decoration: underline #18b2cc 3px;
}
